<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="utf-8">
        <title>Solib</title>
        <link rel="icon" href="favicon.ico"> 
	 	<script src="/socket.io/socket.io.js"></script>
	 	<script src="js/script.js"></script>
	 	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	 	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css">
	 	<link rel="stylesheet" href="css/custom.css">
	</head>
	<body>
		<h1 id="lesson_name"></h1>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<!-- Sidebar content //SLIDES-LIST -->
				</div>
				<div class="span10">
					<!-- Body content -->
					<center>
						<canvas id="myCanvas" style=""></canvas>
					</center>
				</div>
			</div>
			<div id="popopen" class="rightside connected-users" dataPopout="close" onclick="openConnectedUsers(this)">
				<h4>Connected users:</h4>
				<table id="users"></table>
			</div>
		</div>
	</body>
</html>
