<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="utf-8">
        <title>Solib</title>
        <link rel="icon" href="favicon.ico"> 
	 	<script src="/socket.io/socket.io.js"></script>
	 	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	 	<script src="js/bootstrap.min.js"></script>
	 	<script src="js/cgscenegraph_1.4.2.min.js"></script>
	 	<script src="js/SolibClient.js"></script>
	 	<script src="js/SolibCGScene.js"></script>
	 	<script src="js/main.js"></script>
	 	
	 	<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"> -->
	 	<link rel="stylesheet" href="css/bootstrap.min.css">
	 	<link rel="stylesheet" href="css/custom.css">
	</head>
	<body>
		<center><h1 id="lesson_name"></h1><center>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3 well" id="slide-list">
					<!-- Sidebar content //SLIDES-LIST -->
					<ul class="thumbnails" id="slides">
					  <li class="span12">
					    <div class="thumbnail">
					      <img id="addNewSlide" alt="New Slide" src="add.png">
								<center>
						      <h3>Add new Slide</h3>
						     </center>
					    </div>
					  </li>
					  <li class="span12">
					    <div class="thumbnail">
					      <img id="addNewSlide" width="55" alt="New Slide" src="slide.png">
								<center>
						      <h3>Slide #</h3>
						     </center>
					    </div>
					  </li>
					  <li class="span12">
					    <div class="thumbnail">
					      <img id="addNewSlide" width="55" alt="New Slide" src="slide.png">
								<center>
						      <h3>Slide #</h3>
						     </center>
					    </div>
					  </li>
					  <li class="span12">
					    <div class="thumbnail">
					      <img id="addNewSlide" width="55" alt="New Slide" src="slide.png">
								<center>
						      <h3>Slide #</h3>
						     </center>
					    </div>
					  </li>
					  <li class="span12">
					    <div class="thumbnail">
					      <img id="addNewSlide" width="55" alt="New Slide" src="slide.png">
								<center>
						      <h3>Slide #</h3>
						     </center>
					    </div>
					  </li>
					  <li class="span12">
					    <div class="thumbnail">
					      <img id="addNewSlide" width="55" alt="New Slide" src="slide.png">
								<center>
						      <h3>Slide #</h3>
						     </center>
					    </div>
					  </li>
					</ul>
				</div>
				<div class="span9 well">
					<!-- Body content -->
					<div id="toolbar" class="well">
			      <!-- <button class="btn" id="pencil"> Pencil </button> -->
			      <div class="btn-group">
						  <button class="btn" id="pencil">Pencil</button>
						  <button class="btn dropdown-toggle" data-toggle="dropdown">
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu">
						    <!-- dropdown menu links -->
						    <li>
						    	<label for="pencil_width">Pencil's width :</label>
							    <input id="pencil_width" type="range" min="2" max="50" value="5" />
						    </li>
						  </ul>
						</div>
			      <button class="btn" id="line"> Line </button>
			      <button class="btn" id="rect"> Rectangle </button>
			      <button class="btn" id="circle"> Circle </button>
			      <button class="btn" id="text"> Text </button>
			      <button class="btn" id="clear"> Clear </button>
			      <button class="btn" id="download"> Download </button>
<!-- 			      <output class="btn" id="output">5 pixels</output>
 -->			      <!-- <div>
			        <ul id="couleurs">
			          <li><a href="#" data-couleur="black" class="actif"></a></li>
			          <li><a href="#" data-couleur="white"></a></li>
			          <li><a href="#" data-couleur="red"></a></li>
			          <li><a href="#" data-couleur="orange"></a></li>
			          <li><a href="#" data-couleur="green"></a></li>
			          <li><a href="#" data-couleur="blue"></a></li>
			          <li><a href="#" data-couleur="Violet"></a></li> 
			        </ul>
			      </div> -->
			    </div>
					<canvas id="lessonCanvas" width="700" height="450">
						Your browser doest not support the canvas element.
					</canvas>
				</div>
			</div>
			<div id="popopen" class="rightside connected-users" dataPopout="close" onclick="openConnectedUsers(this)">
				<h4>Connected users:</h4>
				<table id="users"></table>
			</div>
		</div>
	</body>
</html>
